/*
COLOURS -->
azul cielo => 009cde
azul oscuro => 02648e
blanco => fff
-----------------------
STYLES GUIDE:
0. RESET
1. NAVS
2. MEDIAQUERY
-----------------
*/


/* -------- 0. RESET -------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*  { box-sizing:border-box; }

body { font:300 16px/1 'Roboto Condensed';}


/* -------- 1. NAVS -------- */

.navbar { background: #009cde; margin-bottom: 30px;}
	.navbar ul { display:flex; justify-content:space-between; height: 60px;}
		.navbar li { position: relative; flex:1; display: flex; justify-content:center; align-items:center; border-right:1px solid #fff; }
			.navbar a { position: relative; display: block; color: #fff; text-decoration: none; text-align: center; font-size: 20px;}
			.navbar li.active:after { content: ""; position: absolute; bottom: 0; left:10%; height:3px; width: 80%; background: #02648e;}
			.navbar li:hover .subnavbar { display: block;}

		.subnavbar { display: none; position: absolute; left: 0; top: 61px; width: 100%; background: #8ca3ad;}
			.subnavbar a { display: flex; justify-content:flex-end; align-items:center; height: 40px; padding-right: 10px; border-bottom: 1px dotted #fff; font-size: 16px;}
			.subnavbar .active:after { content: ""; position: absolute; bottom: 0; right:0; height:100%; width: 3px; background: #009cde;}

/* -------- 2. MEDIAQUERY -------- */

@media screen and (max-width:768px) {
	.subnavbar { display: block;}
}

@media screen and (max-width:600px) {
}

@media screen and (max-width:540px) {
	.navbar a { font-size: 15px;}
	.navbar li { position: static;}
	.navbar li.active:after { display: none;}
}

@media screen and (max-width:360px) {
}
